{% extends 'layout.jinja' %}

{% block title %}Posts{% endblock %}

{% block content %}
<style>
.posts li {
    font-size: 20px !important;
}
</style>

<h1>Posts</h1>
<div class="posts">
    {% for x in data %}
    <li><a href="/posts/{{x[1]}}">{{x[0]}}</a></li>
    {% endfor %}
</div>
{% endblock %}